.SelectionButtons {
	background: rgba(31, 43, 53, 0.9);
	color: #fff;
	border-radius: 7px;
	min-height: 25rem;
	flex-basis: 700px;
	flex-shrink: 1;
	padding: .7rem  0 2rem 0;
	text-align: center;
  display: flex;
  flex-direction: column;
}

.SelectionButtons h1 {
  font-weight: 400;
}

.SelectionButtons > div {
  padding-top: 20px;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 4rem;
}